<ion-header>
    <ion-toolbar>
      <ion-title>Informações do Produto : {{listas.titulo}}</ion-title>
      <ion-icon name="close-circle-outline" slot="primary" style="zoom:2.5;" routerLink="/menu/carrinho" (click)="fecharModal()"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card-content>
      <div class="barStatus">
        <ul>
          <li class="pedido">Pedido: <b>{{listas.pedido}}</b></li>
          <li class="orc">Orc: <b>{{listas.orc}}</b></li>
      </ul>
      </div>
        <h1><b>PEDIDO {{statusCompra[listas.situacao]}}</b></h1>
    </ion-card-content>
  
      <div class="process">
        <ion-card-content>
          <div *ngIf="imagem">
            <img src="{{imagem[listas.situacao]}}">
          </div>
        <br>
        </ion-card-content>
      </div>
      
      <div class="productInfo">
        <h4>{{productInfo[listas.situacao]}}</h4>
    </div>
  
    <div class="infos">
      <li><b>Previsão para Entrega</b></li><li>{{listas.data}}</li>
      <li><b>Valor Total</b></li><li>{{listas.valor |currency}}</li>
      <li><b>Valor desconto</b></li><li>{{listas.valor |currency}}</li>
      <li><b>Endereço para Entrega</b></li><li>{{listas.endereco}}</li>
      <li><b>Forma Pagamento</b></li><li>{{listas.formaPagamento}}</li>
    </div>
      <br>
      <a style="color:green;">VER ITENS DO PEDIDO</a>
      <a style="color:green;">VER NOTA FISCAL</a>
      <button></button>
  </ion-content>


  