<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let product of produto;let i = index">
  <ion-item>
    <img [src]="product.imagens" style="width:54px; height:54px;border:4px solid rgb(1, 170, 1);" slot="start">
    <ion-label size="auto">Você Comprou {{product.titulo}} e vai ser entregue em {{product.data}} <p>STATUS</p><b>{{statusCompra[product.situacao]}}</b></ion-label>
  </ion-item></ion-card>
</ion-content>